{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
	   <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
	   <meta http-equiv="refresh" content="5;url=/login" />
    <title></title>
  </head>
  <body>
    <h1>Rekisteröityminen onnistui</h1>
	   <br>
      Saat sähköpostia tunnuksen aktivoimisesta, jonka jälkeen voit kirjautua.
	    Siirrytään etusivulle 5 sekunnin kuluttua.
    </body>
</html>
